# CyberPharos Project Requirements

# Core libraries
requests>=2.28.1          # For making HTTP requests to threat intelligence APIs such as VirusTotal
matplotlib>=3.6           # For data visualization and dashboarding

# Environment management
python-dotenv>=1.0.0      # To load environment variables from a .env file

# Testing (optional but highly recommended)
pytest>=7.0.1             # For writing and running unit tests

# Dash libraries
dash>=2.0.0               # Replace with the version you require
dash-bootstrap-components # Add version specifier if necessary

# Data processing libraries
pandas>=1.4.0             # For data manipulation and analysis
numpy>=1.22.0             # For numerical operations
