# CyberPharos Project Requirements

# Core libraries
requests>=2.28.1
matplotlib>=3.6  
# Environment management
python-dotenv>=1.0.0

# Testing (optional but highly recommended)
pytest>=7.0.1      

# Dash libraries
dash>=2.0.0       
dash-bootstrap-components

# Data processing libraries
pandas>=1.4.0
numpy>=1.22.0
